//:root {
//  font-size: calc(1vw + 1vh + .5vmin);
//}

html {
  background: url("../../assets/img/body-bg.png") repeat;
  background: rgba(255,255,255,1);
}

body {
  font-family: $font-family;
  line-height: $base-line;
  font-size: $font-size-regular;
  color: $body-text-color;
  margin: 0;
}


article {

  h2 {
    position: relative;

    &:after {
      background: $color-tertiary;
      bottom: -3.55rem;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 3rem;
    }
  }

  &.article-wrap {

    h2 {

      &:after {
        background: none;
      }

    }
  }
}