{
  "name": "FABC-Kube-v.6.5.2-2017-1",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/kube.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/kube.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/_scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/kube.scss",
      "imports": [
        "assets/_scss/_variables.scss",
        "assets/_scss/_theming.scss",
        "assets/_scss/_mixins.scss",
        "assets/_scss/_animation.scss",
        "assets/_scss/_components.scss",
        "assets/_scss/mixins/_base.scss",
        "assets/_scss/mixins/_gradients.scss",
        "assets/_scss/mixins/_buttons.scss",
        "assets/_scss/mixins/_flex.scss",
        "assets/_scss/mixins/_grid.scss",
        "assets/_scss/mixins/_labels.scss",
        "assets/_scss/mixins/_alerts.scss",
        "assets/_scss/components/_media-queries.scss",
        "assets/_scss/components/_fonts.scss",
        "assets/_scss/components/_scrollbar.scss",
        "assets/_scss/components/_helpers.scss",
        "assets/_scss/components/_banner.scss",
        "assets/_scss/components/_typography.scss",
        "assets/_scss/components/_grid.scss",
        "assets/_scss/components/_theme.scss",
        "assets/_scss/components/_tables.scss",
        "assets/_scss/components/_forms.scss",
        "assets/_scss/components/_buttons.scss",
        "assets/_scss/components/_labels.scss",
        "assets/_scss/components/_alerts.scss",
        "assets/_scss/components/_message.scss",
        "assets/_scss/components/_tabs.scss",
        "assets/_scss/components/_breadcrumb.scss",
        "assets/_scss/components/_pagination.scss",
        "assets/_scss/components/_dropdown.scss",
        "assets/_scss/components/_modal.scss",
        "assets/_scss/components/_utility.scss",
        "assets/_scss/components/_print.scss",
        "assets/_scss/components/_navigation.scss",
        "assets/_scss/components/_scroll-events.scss",
        "assets/_scss/components/_overlay.scss",
        "assets/_scss/components/_hamburger.scss",
        "assets/_scss/components/_parallax.scss",
        "assets/_scss/components/_player.scss",
        "assets/_scss/components/_inverse.scss"
      ]
    },
    {
      "path": "src/kube.scss",
      "imports": [
        "src/_scss/_variables.scss",
        "src/_scss/_theming.scss",
        "src/_scss/_mixins.scss",
        "src/_scss/_animation.scss",
        "src/_scss/_components.scss",
        "src/_scss/mixins/_base.scss",
        "src/_scss/mixins/_gradients.scss",
        "src/_scss/mixins/_buttons.scss",
        "src/_scss/mixins/_flex.scss",
        "src/_scss/mixins/_grid.scss",
        "src/_scss/mixins/_labels.scss",
        "src/_scss/mixins/_alerts.scss",
        "src/_scss/components/_restart.scss",
        "src/_scss/components/_typography.scss",
        "src/_scss/components/_grid.scss",
        "src/_scss/components/_tables.scss",
        "src/_scss/components/_forms.scss",
        "src/_scss/components/_buttons.scss",
        "src/_scss/components/_labels.scss",
        "src/_scss/components/_alerts.scss",
        "src/_scss/components/_message.scss",
        "src/_scss/components/_tabs.scss",
        "src/_scss/components/_breadcrumb.scss",
        "src/_scss/components/_pagination.scss",
        "src/_scss/components/_dropdown.scss",
        "src/_scss/components/_modal.scss",
        "src/_scss/components/_utility.scss",
        "src/_scss/components/_print.scss"
      ]
    },
    {
      "path": "assets/_scss/_components.scss",
      "imports": [
        "assets/_scss/components/_media-queries.scss",
        "assets/_scss/components/_fonts.scss",
        "assets/_scss/components/_scrollbar.scss",
        "assets/_scss/components/_helpers.scss",
        "assets/_scss/components/_banner.scss",
        "assets/_scss/components/_typography.scss",
        "assets/_scss/components/_grid.scss",
        "assets/_scss/components/_tables.scss",
        "assets/_scss/components/_forms.scss",
        "assets/_scss/components/_buttons.scss",
        "assets/_scss/components/_labels.scss",
        "assets/_scss/components/_alerts.scss",
        "assets/_scss/components/_message.scss",
        "assets/_scss/components/_tabs.scss",
        "assets/_scss/components/_breadcrumb.scss",
        "assets/_scss/components/_pagination.scss",
        "assets/_scss/components/_dropdown.scss",
        "assets/_scss/components/_modal.scss",
        "assets/_scss/components/_utility.scss",
        "assets/_scss/components/_print.scss",
        "assets/_scss/components/_navigation.scss",
        "assets/_scss/components/_scroll-events.scss",
        "assets/_scss/components/_overlay.scss",
        "assets/_scss/components/_hamburger.scss",
        "assets/_scss/components/_parallax.scss",
        "assets/_scss/components/_player.scss",
        "assets/_scss/components/_inverse.scss"
      ]
    },
    {
      "path": "assets/_scss/_mixins.scss",
      "imports": [
        "assets/_scss/mixins/_base.scss",
        "assets/_scss/mixins/_gradients.scss",
        "assets/_scss/mixins/_buttons.scss",
        "assets/_scss/mixins/_flex.scss",
        "assets/_scss/mixins/_grid.scss",
        "assets/_scss/mixins/_labels.scss",
        "assets/_scss/mixins/_alerts.scss"
      ]
    },
    {
      "path": "src/_scss/_components.scss",
      "imports": [
        "src/_scss/components/_restart.scss",
        "src/_scss/components/_typography.scss",
        "src/_scss/components/_grid.scss",
        "src/_scss/components/_tables.scss",
        "src/_scss/components/_forms.scss",
        "src/_scss/components/_buttons.scss",
        "src/_scss/components/_labels.scss",
        "src/_scss/components/_alerts.scss",
        "src/_scss/components/_message.scss",
        "src/_scss/components/_tabs.scss",
        "src/_scss/components/_breadcrumb.scss",
        "src/_scss/components/_pagination.scss",
        "src/_scss/components/_dropdown.scss",
        "src/_scss/components/_modal.scss",
        "src/_scss/components/_utility.scss",
        "src/_scss/components/_print.scss"
      ]
    },
    {
      "path": "src/_scss/_mixins.scss",
      "imports": [
        "src/_scss/mixins/_base.scss",
        "src/_scss/mixins/_gradients.scss",
        "src/_scss/mixins/_buttons.scss",
        "src/_scss/mixins/_flex.scss",
        "src/_scss/mixins/_grid.scss",
        "src/_scss/mixins/_labels.scss",
        "src/_scss/mixins/_alerts.scss"
      ]
    },
    {
      "path": "plugins/2-blocks-template/scss/style.scss",
      "imports": [
        "plugins/2-blocks-template/partials/_variables.scss",
        "plugins/2-blocks-template/partials/_mixins.scss",
        "plugins/2-blocks-template/partials/_layout.scss"
      ]
    },
    {
      "path": "plugins/add-to-cart-interaction/scss/style.scss",
      "imports": [
        "plugins/add-to-cart-interaction/partials/_variables.scss",
        "plugins/add-to-cart-interaction/partials/_mixins.scss",
        "plugins/add-to-cart-interaction/partials/_layout.scss"
      ]
    },
    {
      "path": "plugins/auto-hiding-navigation/scss/style.scss",
      "imports": [
        "plugins/auto-hiding-navigation/partials/_variables.scss",
        "plugins/auto-hiding-navigation/partials/_mixins.scss",
        "plugins/auto-hiding-navigation/partials/_layout.scss"
      ]
    },
    {
      "path": "plugins/back-to-top/scss/style.scss",
      "imports": [
        "plugins/back-to-top/partials/_variables.scss",
        "plugins/back-to-top/partials/_mixins.scss",
        "plugins/back-to-top/partials/_layout.scss"
      ]
    },
    {
      "path": "plugins/client-testimonials-carousel/scss/style.scss",
      "imports": [
        "plugins/client-testimonials-carousel/partials/_variables.scss",
        "plugins/client-testimonials-carousel/partials/_mixins.scss",
        "plugins/client-testimonials-carousel/partials/_layout.scss"
      ]
    },
    {
      "path": "plugins/custom-google-map/scss/style.scss",
      "imports": [
        "plugins/custom-google-map/partials/_variables.scss",
        "plugins/custom-google-map/partials/_mixins.scss",
        "plugins/custom-google-map/partials/_layout.scss"
      ]
    },
    {
      "path": "plugins/full-scren-pushing-navigation/scss/style.scss",
      "imports": [
        "plugins/full-scren-pushing-navigation/partials/_variables.scss",
        "plugins/full-scren-pushing-navigation/partials/_mixins.scss",
        "plugins/full-scren-pushing-navigation/partials/_layout.scss"
      ]
    },
    {
      "path": "plugins/secondary-sliding-navigation/scss/style.scss",
      "imports": [
        "plugins/secondary-sliding-navigation/partials/_variables.scss",
        "plugins/secondary-sliding-navigation/partials/_mixins.scss",
        "plugins/secondary-sliding-navigation/partials/_layout.scss"
      ]
    },
    {
      "path": "plugins/slide-in-panel/scss/style.scss",
      "imports": [
        "plugins/slide-in-panel/partials/_variables.scss",
        "plugins/slide-in-panel/partials/_mixins.scss",
        "plugins/slide-in-panel/partials/_layout.scss"
      ]
    },
    {
      "path": "plugins/smart-fixed-navigation/scss/style.scss",
      "imports": [
        "plugins/smart-fixed-navigation/partials/_variables.scss",
        "plugins/smart-fixed-navigation/partials/_mixins.scss",
        "plugins/smart-fixed-navigation/partials/_layout.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7886,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}