
section {
  transition: all 1.5s ease-in-out;
}

.banner-wrap {
  //background: url("../img/fabc-banner-02-overlay.jpg");
  //background: url("../img/fabc-banner-02-overlay-hover.jpg");
  background: url("../img/banner/fabc-banner-overlay-01.jpg");
  background-size: cover;
  display: flex;
  height: calc(80vh - 124px);
  margin-top: 124px;
  position: relative;
  width: 100%;
  transition: all 1.5s ease-in-out;

  //&:after {
  //  background: rgba(0,48,64,.8);
  //  content: "";
  //  bottom: 0;
  //  top: 0;
  //  left: 0;
  //  height: 100%;
  //  right: 0;
  //  position: absolute;
  //  width: 100%;
  //  z-index: 0;
  //}

  //&:hover {
  //  background: url("../img/fabc-banner-02-overlay-hover.jpg");
  //  background-size: cover;
  //  height: calc(80vh - 110px);
  //  margin-top: 110px;
  //  position: relative;
  //  width: 80%;
  //}
}

//#welcome-head {
//  font-size: 4rem;
//  line-height: 42px;
//  margin-bottom: 3rem;
//  text-transform: uppercase;
//}

.welcome {
  font-size: 4rem;
  line-height: 42px;
  height: 20vh;
  //margin-bottom: 3rem;
  //padding: 2.5rem 0;
  text-transform: uppercase;
  transition: all 1s ease-in-out;

  h1 {
    font-size: 4rem;
    line-height: 42px;
    margin: 0;
    padding-top: 3.25rem;
    transition: all 1s ease-in-out;
  }

  span {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  &.scroll-pos {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.intro {
  padding-top: 3.5rem;

  .column em {
    //color:  rgba(0,0,0,1);
    font-family: $font-family-emphasis;
    font-size: $h3-font-size;
    //font-weight: 600;
  }
}

.event-block {
  background: #fff;
  align-self: center;
  height: calc(100% - 140px);
  //bottom: 0;
  //height: calc(100vh - 120px - 20vh);
  //max-height: 450px;
  //min-height: 400px;
  //min-width: 400px;
  padding: 4rem 4rem 5rem 5rem;
  //position: absolute;
  //right: 2rem;
  //right: -15%;
  //top: 0;
  transform: translate(60%, 0);
  transition: all 1s ease-in-out;
  width: 50%;
  z-index: 10;

  ul {
    margin-left: -1.75rem;
  }

  .scroll & {
    transform: translate(calc(100vw - 48%), 0);
  }

  h2 {
    font-size: 2.5rem;
    margin-top: 0;
    //margin-bottom: 36px;
    position: relative;

    //&:after {
    //  background: $color-tertiary !important;
    //  bottom: -3.5rem;
    //  content: "";
    //  height: 1px;
    //  left: 0;
    //  position: absolute;
    //  width: 3rem;
    //}
  }

  li {
    margin-bottom: 2rem;

    span {
      display: block;
      font-size: $font-size-small;
      font-weight: 600;
    }

    &:hover {

      span {
        color: rgba(0,0,0,1);
        transition: all .5s ease-in-out;
      }
    }

    a {
      display: inline-block;
      font-family: $heading-font-family;
      position: relative;
      width: 50%;
      //font-size: 1.5rem;

      &:before {
        background: $color-tertiary !important;
        bottom: 18px;
        content: "";
        height: 1px;
        left: -50px;
        position: absolute;
        width: 2rem;
        transition: all .25s ease-in-out;
      }

      &:hover:before {
        background: darken($color-tertiary, 15%) !important;
        bottom: 10px;
        content: "";
        height: 1px;
        left: -5px;
        position: absolute;
        width: 100%;
        opacity: .5;
      }
    }
  }
}


.sermon-banner {
  color: #fff !important;
  align-self: flex-end;
  //position: absolute;
  //bottom: 30px;
  //left: 0;
  padding: 3rem;
  z-index: 10;

  h2 {
    font-size: $h2-font-size;
    margin-bottom: $heading-margin-bottom;
  }

  p {
    font-size: $font-size-regular + 4px;
    line-height: $base-line + 6px;
    margin-bottom: 50px;
  }
}
.news-link {
  margin: 0 0 60px;
  padding: 0;

  li {

    span {
      position: relative;

      &:after {
        background: rgba(0, 0, 0, .2);
        bottom: -5px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 2rem;
        transition: all .25s ease-in-out;
      }
    }

    //&:hover span:after {
    //  background: rgba(0, 0, 0, .5);
    //  bottom: 0;
    //  width: 3rem;
    //}
  }
}

.pastor {
  p {
    text-align: center;
    font-size: 1.25rem;
    line-height: 28px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.pastor-img {
  margin-bottom: 3rem;
}

.sermon-player {
  background: url("../img/fabc-banner-01-fade.jpg");
  //background: darken(#004462, 5%);
}