
/*
================== Media Query Breakwidths =================
*/

/*******************************
********* Breakwidths **********

       xsmall-:   0
        small-:   30rem  (480px)
       medium-:   40rem  (640px)
        large-:   64rem  (1024px)
       xlarge-:   75rem  (1280px)
      xxlarge-:   90rem  (1440px)
     xxxlarge-:   105rem (1680px)

    // xlarge: "(max-width: 1680px)"
    // large:  "(max-width: 1280px)"
    // medium: "(max-width: 980px)"
    // small:  "(max-width: 736px)"
    // xsmall: "(max-width: 480px)"

********* Breakwidths *********
*******************************/

//$breakwidth-small: 30rem;
//@media (min-width: $breakwidth-small) {
//}
//
//$breakwidth-medium: 40rem;
//@media (min-width: $breakwidth-medium) {
//}
//
//$breakwidth-large: 64rem;
//@media (min-width: $breakwidth-large) {
//}
//
//$breakwidth-xlarge: 75rem;
//@media (min-width: $breakwidth-xlarge) {
//}
//
//$breakwidth-xxlarge: 90rem;
//@media (min-width: $breakwidth-xxlarge) {
//}
//
//$breakwidth-xxxlarge: 105rem;
//@media (min-width: $breakwidth-xxxlarge) {
//}


//$breakwidth-small: "screen and (min-width: 30rem";
//
//@media #{$breakwidth-small} {
//
//}


/*********************
BREAKwidthS
*********************/

@mixin breakpoint-width($width) {

  @if $width == xxx-lg {
    @media (min-width: 105rem) { @content ; }  // 1680px
  }
  @else if $width == xx-lg {
    @media (min-width: 90rem) { @content ; }   // 1440px
  }
  @else if $width == x-lg {
    @media (min-width: 75rem) { @content ; }  // 1200px
  }
  @else if $width == lg {
    @media (min-width: 64rem)  { @content ; }  // 1024px
  }
  @else if $width == md {
    @media (min-width: 40rem) { @content; }  // 640px
  }
  @else if $width == sm {
    @media (max-width: 30rem)  { @content ; }  // 480px
  }
}

@mixin breakpoint-height($height) {

  @if $height == x-lg-h {
    @media (min-height: 105rem) { @content ; }  // 1680px
  }
  @else if $height == lg-h {
    @media (min-height: 90rem) { @content ; }   // 1440px
  }
  @else if $height == md-h {
    @media (min-height: 75rem) { @content ; }  // 1200px
  }
  @else if $height == sm-h {
    @media (min-height: 64rem)  { @content ; }  // 1024px
  }
  @else if $height == md-h {
    @media (min-height: 40rem) { @content; }  // 640px
  }
  @else if $height == sm-h {
    @media (max-height: 30rem)  { @content ; }  // 480px
  }
}



//
//@media only screen and (max-height: 740px) {
//
//  .news-link {
//    top: 5px;
//    margin-bottom: 2rem;
//    padding-bottom: 0;
//  }
//}


//
//@media only screen and (max-height: 844px) {
//
//  .event-block {
//    //max-height: 480px;
//    //min-height: 400px;
//    top: 0;
//    padding: 3rem 4rem 0 4rem;
//  }
//  .welcome h1 {
//    padding-top: 2rem;
//  }
//}
//
//@media only screen and (min-height: 845px) {
//
//  .event-block {
//    padding: 4rem 4rem 5rem 5rem;
//    top: 0;
//    bottom: 0;
//  }
//}
//
//@media only screen and (min-height: 924px) {
//
//  .event-block {
//    //max-height: 500px;
//    //min-height: 360px;
//    padding: 4rem 4rem 5rem 5rem;
//    top: 0;
//    bottom:0;
//  }
//}