

#player_iframe {
  border: 1px solid rgba(255,255,255,.1);
  box-shadow: 0 0 40px rgba(0,0,0,.5);
}

.sermon-player {
  
  h2 {
    color: rgba(255,255,255,.9);
    position: relative;

    &:after {
      background: rgba(255,255,255,.5) !important;
      bottom: -3.45rem;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      width: 3rem;
    }
  }
  
  p {
    color: rgba(255,255,255,.8);
  }
  
  .six {
    background: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.1);
    position: relative;
    left: -775px;
    transition: all 1s ease-in-out;
  }
}

.sermon-player .six.scroll {
  left: 0;
}