
.row-580 {
  background: rgba(0,0,0,.05);
  //background: url("../img/fabc-banner-01-fade.jpg");
  min-height: 580px;

  .column {
    position: relative;

    .button {
      bottom: 4rem;
      position: absolute;
    }
  }

}

.column-dark {
  background: rgba(0,0,0,.05);
  position: relative;
  
  //&:before {
  //  content: "";
  //  position: absolute;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //  width: 1px;
  //  background: rgba(0,0,0,.15);
  //}
}

.content-links {

  ul {
    list-style-type: none;
    margin-left: 0;
  }

  li a {
    font-family: $heading-font-family;
    font-size: 1.25rem;
    display: block;
    margin-bottom: 1rem;
  }
}